.cardUrl {
    width: 80%;
    text-align: center;
    margin-top: 20px;
}

.cardResult{
    width: 80%;
    margin-top: 20px;
}

.resultText{
    width: 100%;
    border: 1px solid #02af63;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 0; */
    padding: 12px;
}

.origin-link {
    width: 65%;
    color: #28384a;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.short-link {
    width: 35%;
    margin-right: 18px;
    text-align: right;
    color: #3180c5;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.count-link{
    text-align: center;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.copy-link {
    cursor: pointer;
    display: flex;
    align-items: center;
}